<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style3.css">
    <title>Historial</title>
</head>

<body>

    <div class="container">
            <img src="assets/img/logo principal.png" class="logo">
            <h1 class="text">PRO-DEV</h1>
    </div>
    <table id="machine-table">
        <thead>
            <tr>
                <th>Id_Maquina</th>
                <th>Nombre de la maquina</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Número de Serie</th>
                <th>Fecha de Ingreso</th>
                <th>Diagnostico inicial</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <!-- Los registros de las máquinas se mostrarán aquí -->
            <tr>
                <td>001</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>
                    Lorem ipsum dolor
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>002</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>003</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>004</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>005</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>006</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>007</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>008</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>009</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>010</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>011</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>012</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Lorem ipsum dolor sit
                </td>
                <td>
                    <select name="Estado" id="estado">
                        <option value="ingreso">Ingreso</option>
                        <option value="enrevision">En revision</option>
                        <option value="En Mantenimiento">En Mantenimiento</option>
                        <option value="Reparado">Reparado</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="button">
        <p>
            <button class="boton" type="submit" onclick="guardarDatos()"> 
             <a href="./Nuevamaquina.html">Guardar</a> </button>
        </p>       
    </div>
    <script src="nuevaMaquina.js"></script>
</body>

</html>