<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <script src="script.js"></script>
    <title>Iniciar Sesión</title>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="assets/img/logo principal.png" />
      </div>
      <div class="login">
        <h2>LOGIN</h2>
        <form id="loginForm">
          <div class="input-wrapper">
            <input type="text" placeholder="Usuario" id="username" />
          </div>
          <div class="input-wrapper">
            <input type="password" placeholder="Contraseña" id="password" />
          </div>
          <button type="submit" id="loginButton">
            <a href="registro_nueva_maquina.html">Iniciar Sesión</a>
          </button>
        </form>
        <p class="small-text">
          <button type="submit" id="Recuperar">
          <a class="recover" href="https://www.google.com/intl/es-419/gmail/about/">Recuperar contraseña</a>
        </button>
        </p>
        <div id="message"></div>
      </div>
    </div>
    <link rel="stylesheet" href="assets/python/main.py" />
  </body>
</html>
